<h>Welcome to <%= @user.username %>'s page</h>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4><%= @user.username %>'s articles'</h4>

<%= render 'articles/article', obj: @user.articles %>
