<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy: <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a> by <a href="http://www.mashrurhossain.com/">Mashrur Hossain</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>